<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dionaro">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DIONARO"
        tools:ignore="AllowBackup">
        <activity
            android:name=".notas.NotaAbierta"
            android:exported="true" />
        <activity
            android:name=".descubrimiento.Descubrimiento"
            android:exported="true" />
        <activity
            android:name=".recordatorios.Recordatorios"
            android:exported="true" />
        <activity
            android:name=".notas.Notas"
            android:exported="true" />
        <activity
            android:name=".logIn.Login"
            android:exported="true" />
        <activity
            android:name=".inicio.Inicio"
            android:exported="true" />
        <activity
            android:name=".informacion.Informacion"
            android:exported="true"
            android:label="@string/title_activity_informacion" />
        <activity
            android:name=".perfil.Perfil"
            android:exported="true" />
        <activity
            android:name=".busquedaDescubrimiento.BusquedaDescubrimiento"
            android:exported="true" />
        <activity
            android:name=".avanceFavoritos.AvancesFavoritos"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>