<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dionaro">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DIONARO">
        <activity
            android:name=".Recordatorios.Recordatorios"
            android:exported="true" />
        <activity
            android:name=".Notas.Notas"
            android:exported="true" />
        <activity
            android:name=".LogIn.Login"
            android:exported="true" />
        <activity
            android:name=".inicio.Inicio"
            android:exported="true"/>
        <activity
            android:name=".informacion.Informacion"
            android:exported="true"
            android:label="@string/title_activity_informacion" />
        <activity
            android:name=".BusquedaDescubrimiento.BusquedaDescubrimiento"
            android:exported="true" />
        <activity
            android:name=".AvanceFavoritos.AvancesFavoritos"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>